<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="tests">
    <test name="tests.AddToCartTestChrome" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.AddToCartTest">
                <methods>
                    <include name="addToCartCheck"/>
                </methods>
            </class>
            <class name="tests.LoginFormTest">
                <methods>
                    <include name="checkErrorMessageLogin"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="tests.AddToCartTestFirefox" parallel="methods" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AddToCartTest">
                <methods>
                    <include name="addToCartCheck"/>
                </methods>
            </class>
            <class name="tests.LoginFormTest">
                <methods>
                    <include name="checkErrorMessageLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
